.is-horizontal-center {
  justify-content: center;
}

.is-horizontal-center > img{
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      position: relative;
}

body{
  background-color: #eeeeee;
}

html, body{
  min-height: 100vh;
  height: 100%;
}
